{% extends theme('layouts/1-column.html') %}
{% import 'macros/forms.html' as forms with context %}

{% set section_class = 'form' %}

{% block main_content %}
<section class="fr-py-3w fr-py-md-9v bg-grey-50">
    <div class="fr-container fr-py-7w">
        <div class="fr-grid-row">
            <div class="form-container fr-col-12 fr-col-md-6 fr-col-offset-md-3">
                <form class="form" method="post" action="{{ url_for('saml.register') }}">
                    <h1 class="fr-h4 fr-mb-0 text-align-center">{{ _('Sign Up') }}</h1>
                    <p class="fr-mt-2w fr-mb-1w fr-text--xs text-align-left">
                        {{ _("Fields preceded by a star (<span class='required-field-star'>*</span>) are required.") }}
                    </p>

                    <div class="fr-input-group">
                        <label for="name" class="fr-label fr-text-left required">
                            {{ _("First name") }}
                        </label>
                        {{ form.first_name(style="width: 100%;") }}
                    </div>

                    <div class="fr-input-group">
                        <label for="name" class="fr-label fr-text-left required">
                            {{ _("Last name") }}
                        </label>
                        {{ form.last_name(style="width: 100%;") }}
                    </div>

                    <div class="fr-input-group">
                        <label for="name" class="fr-label fr-text-left required">
                            {{ _("Email") }}
                        </label>
                        {{ form.email(style="width: 100%;") }}
                    </div>

                    <div class="fr-input-group">
                        <label for="name" class="fr-label fr-text-left required">
                            {{ _("User NIC") }}
                        </label>
                        {{ form.user_nic(style="width: 100%;") }}
                    </div>

                    <div class="fr-checkbox-group">
                        <input id="accept_conditions" type="checkbox" name="accept_conditions" required />
                        <label class="fr-label" for="accept_conditions">
                            <span>{{ _("I have read and accept <a href=\"%(url)s\"> the terms and conditions of the "
"service.</a>", url=url_for('site.terms')) }}</span>
                        </label>
                    </div>

                    <div class="fr-mt-1w fr-grid-row fr-grid-row--center">
                        <button type="submit" class="fr-btn">{{ _('Sign up') }}</button>
                        <!-- {{ form.submit() }} -->
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
{% endblock %}