{% cache cache_duration, 'newsletter',
g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
<div class="fr-follow">
  <div class="fr-container">
    {% include theme("participez/participez.html") %}

    <!-- <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-md-8 flex">
        <div class="fr-col-auto fr-mr-5v">
          {% include theme('svg/illustrations/newspaper.svg') %}
        </div>
        <div class="fr-follow__newsletter fr-col">
          <div>
            <p class="fr-h4">{{ _("Subscribe to our newsletter") }}</p>
            <p class="fr-text--lg fr-text--alt f-italic">
              {{ _("To stay up to date about {site} and open data news,
              subscribe to our newsletter and follow our events.")
              .format(site=current_site.title) }}
            </p>
          </div>
          <div>
            <a
              class="fr-btn fr-mr-2w fr-my-1w"
              title="{{ _('Subscribe to our newsletter') }}"
              href="{{ config.NEWSLETTER_SUBSCRIPTION_URL }}"
            >
              {{ _("Subscribe") }}
            </a>
            <a
              class="fr-btn fr-btn--secondary fr-btn--secondary-grey-500"
              title="{{ _('Subscribe to our newsletter') }}"
              href="{{ url_for('gouvfr.show_page', slug='webinaires') }}"
            >
              {{ _("See our next events") }}
            </a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
{% endcache %}
