{% extends theme("base.html") %}

{% set meta = {
    'title': "Acompanhamento do público e privacidade",
    'description': "Acompanhamento do público e privacidade dados.gov.pt",
} %}

{% block breadcrumb %}
<li>
    <a class="fr-breadcrumb__link" aria-current="page">
        Acompanhamento do público e privacidade
    </a>
</li>
{% endblock %}

{% block content %}
<section class="default">
    <div class="fr-container fr-py-9v">
        <article class="markdown fr-col-12">
            <h1>Política de Privacidade</h1>
            <p class="text-justify">
                A AMA é responsável pelo tratamento dos dados pessoais efectuado pelo site dados.gov.pt
                Compromete-se a garantir que estes dados são tratados em conformidade com o Regulamento (UE) 2016/679 relativo à proteção dos dados pessoais e à livre circulação desses dados e com a Lei n.º 78-17 de 6 de janeiro de 1978 relativa à informática, aos ficheiros e às liberdades.
            </p>

            <h2>Que dados são tratados?</h2>

            <p class="text-justify">
                Só são tratados os dados estritamente necessários para o funcionamento do serviço.
                Estes dados não podem, em caso algum, ser utilizados para controlar ou vigiar a atividade dos Utilizadores. Os dados pessoais em causa são os seguintes:
            </p>
            <ul class="fr-mb-3w">
                <li><strong>Dados relativos ao Contribuinte que se regista</strong> : apelido, nome próprio, endereço eletrónico ;</li>
            </ul>

            <h2>Porque é que processamos dados pessoais?</h2>

            <p class="text-justify">
                <a href="https://dados.gov.pt/pt/">dados.gov.pt</a> é a plataforma nacional aberta e comunitária que tem por objetivo centralizar e estruturar os dados abertos de interesse público.
                Destina-se a quem produz dados e quer abri-los, a quem os utiliza e quer descarregá-los e partilhar os seus resultados,
                qualquer pessoa que pretenda descobrir dados ou encontrar informações.
                A plataforma processa os dados de identificação para permitir que os contribuintes publiquem conjuntos de dados e reutilizações.
            </p>

            <h2>O que nos autoriza a processar dados pessoais?</h2>

            <p class="text-justify">
                <a href="https://dados.gov.pt/pt/">dados.gov.pt</a> trata os dados pessoais com base em :
            </p>
            <ul class="fr-mb-3w">
                <li>O desempenho de uma tarefa de interesse público confiada ao responsável pelo tratamento na aceção do artigo 6-1 e) do RGPD.</li>
            </ul>
            <p class="text-justify">
                Na prática, esta missão de interesse público traduz-se em :
            </p>
            <ul class="fr-mb-3w">
                <li>O <a href="https://digital-strategy.ec.europa.eu/en">Decreto de Lei n.º 26/2016, de 22 de Agosto</a> Representam um subconjunto muito importante do vasto domínio de informação do setor público ;</li>
            </ul>

            <h2>Durante quanto tempo conservamos estes dados?</h2>

            <div class="fr-table">
                <table>
                    <thead>
                        <tr>
                            <th>Categorias de dados</th>
                            <th>Prazo de validade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dados relativos ao Contribuinte que se regista</td>
                            <td>Os dados são apagados 3 anos após o último contacto com o Contribuinte registado.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>Quem pode aceder a estes dados?</h2>

            <p class="text-justify">
                O acesso aos dados pessoais é estritamente controlado e legalmente justificado. Terão acesso aos dados as seguintes pessoas:
            </p>
            <ul class="fr-mb-3w">
                <li>As equipas interdepartamentais de operadores de produtos AMA;</li>
            </ul>

            <h2>Quem nos ajuda a tratar os seus dados pessoais?</h2>

            <p class="text-justify">
                Alguns dados são transmitidos a subcontratantes. O responsável pelo tratamento de dados certificou-se de que os seus subcontratantes oferecem garantias adequadas e respeitam condições estritas de confidencialidade, utilização e proteção de dados.
            </p>

            <h2>Quais são os seus direitos?</h2>

            <p class="text-justify">
                O utilizador tem o direito de aceder e retificar os seus dados pessoais. Tem também o direito de se opor e de limitar o tratamento dos seus dados.
                Para exercer os seus direitos ou se tiver alguma dúvida sobre o tratamento dos seus dados, pode escrever-nos para o seguinte endereço: <a href="https://dados.gov.pt/pt/contact/">contatos dados.gov.pt</a>.
            </p>

            <h2>Cookies e rastreadores</h2>

            <p class="text-justify">
                Um cookie é um ficheiro colocado no seu terminal quando visita um sítio Web. O seu objetivo é recolher informações relativas à sua navegação e fornecer-lhe serviços adaptados ao seu terminal (computador, telemóvel ou tablet).
                Nos termos do n.º 3 do artigo 5.º da Diretiva 2002/58/CE, tal como alterada, relativa ao tratamento de dados pessoais e à proteção da privacidade no sector das comunicações electrónicas, transposta para o artigo 82.º da Lei 78-17, de 6 de janeiro de 1978, relativa ao tratamento de dados, aos ficheiros de dados e às liberdades individuais, os marcadores ou cookies seguem dois regimes distintos.
                Os cookies estritamente necessários ao serviço ou cuja única finalidade é facilitar a comunicação por meios electrónicos estão isentos de consentimento prévio nos termos do artigo 82 da lei n.º 78-17 de 6 de janeiro de 1978.
                Os cookies que não sejam estritamente necessários para o serviço ou cuja única finalidade seja facilitar a comunicação por meios electrónicos devem ser consentidos pelo utilizador.
            </p>
            <p class="text-justify">
                Este consentimento do titular dos dados para uma ou mais finalidades específicas constitui uma base jurídica na aceção do RGPD e deve ser entendido na aceção do artigo 6.º-A do Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016, relativo à proteção das pessoas singulares no que diz respeito ao tratamento de dados pessoais e à livre circulação desses dados.
                Utilizamos a ferramenta de medição de audiências Matomo, que está configurada em modo isento e não necessita do seu consentimento, de acordo com as recomendações da CNIL.
            </p>

        </article>
    </div>
</section>
{% endblock %}
