<!-- <div class="bg-blue-400">
    <div class="fr-container fr-py-7w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle text-align-center-sm">
            <div class="fr-col-12 fr-col-sm-6 text-white filet filet-currentcolor">
                <h2 class="fr-h2 text-white fr-mb-2w">{{ _('Contribute') }}</h2>
                <ul class="nav-list">
                    <li><a href="{{ url_for('gouvfr.show_page', slug='faqs/publish') }}"
                        class="nav-link text-white text-decoration-none">{{ _('How to publish data') }}</a>
                    </li>
                    <li><a href="{{ url_for('gouvfr_faq.docapi') }}"
                            class="nav-link text-white text-decoration-none">{{ _('Go to documentation') }}</a>
                    </li>
                </ul>
            </div>
            {% if not read_only_mode %}
            <div class="fr-col-12 fr-col-sm-6 fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                <div class="fr-col-12 fr-col-lg-6">
                    <a
                        href="{{ url_for('admin.index', path='dataset/new/') }}"
                        class="fr-btn fr-btn--secondary fr-btn--secondary-white fr-icon-arrow-right-s-line fr-btn--icon-right"
                    >
                        {{ _('Publish a dataset') }}
                    </a>
                </div>
                <div class="fr-col-12 fr-col-lg-6">
                    <a
                        href="{{ url_for('admin.index', path='reuse/new/') }}"
                        class="fr-btn fr-btn--secondary fr-btn--secondary-white fr-icon-arrow-right-s-line fr-btn--icon-right"
                    >
                        {{ _('Publish a reuse') }}
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div> -->
<div class="fr-grid-row">
  <!-- Primeira coluna -->
  <div class="fr-col-4 fr-col-md-3">
    <h2 class="fr-h7 text-white fr-mb-2w">{{ _('Contribute') }}</h2>
  </div>

  <!-- Segunda coluna (conteúdo alinhado à esquerda) -->
  <div class="fr-col-12 fr-col-md-5 fr-text--left">
    {% if not read_only_mode %}
    <div>
      <a
        href="{{ url_for('admin.index', path='dataset/new/') }}"
        class="fr-h7 text-white fr-mb-2w fr-icon-arrow-right-s-line fr-link--icon-right"
      >
        {{ _('Publish a dataset') }}
      </a>
      <br /><!-- Quebra de linha para espaçamento -->
      <a
        href="{{ url_for('admin.index', path='reuse/new/') }}"
        class="fr-h7 text-white fr-mb-2w fr-icon-arrow-right-s-line fr-link--icon-right"
      >
        {{ _('Publish a reuse') }}
      </a>
      <br /><!-- Quebra de linha para espaçamento -->
      <a
        class="fr-h7 text-white fr-mb-2w fr-icon-arrow-right-s-line fr-link--icon-right"
        title="{{ _('Subscribe to our newsletter') }}"
        href="{{ url_for('gouvfr.show_page', slug='webinaires') }}"
      >
        {{ _("See our next events") }}
      </a>
    </div>
    {% endif %}
  </div>

  <!-- Terceira coluna -->
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-follow__social">
      <p class="fr-h5 text-white">
        {{ _("Follow us") }} <br />
        {{ _("on social media") }}
      </p>
      <ul class="fr-links-group">
        <li>
          <a
            class="fr-link"
            href="https://twitter.com/Dadosgov/"
            title="Twitter"
          >
            {% include theme('svg/socials/twitter.svg') %}
          </a>
        </li>
        <li>
          <a
            class="fr-link"
            href="https://www.linkedin.com/company/ama-gov-pt/"
            title="Linkedin"
          >
            {% include theme('svg/socials/linkedin.svg') %}
          </a>
        </li>
        <li>
          <a class="fr-link" href="https://github.com/amagovpt/" title="Github">
            {% include theme('svg/socials/github.svg') %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
